:root {
    --letter-black: #020D0D;
    --letter-white: #f9f9f9;
    --primary: #0C9A9D;
    --primary-100: #96DEDF;
    --socondary: #ab79dd;
    --socondary-dark: #8938d9;
    --background-dark: #222222;
    --background-dark-light: #404141;
    --background-light: #f9ffff;
    --background-light-dark: #A6ADAD;
    --errors: #D34F4F;
    --errors-dark: #d02424;

  
}
body {
    background-color: var(--background-dark);
    font-family: 'Ubuntu', Verdana, Tahoma, sans-serif
}

/* Navbar */
.color-navbar {
    background-color: var(--background-light);
}
.btn-color-sign-out {
    color: var(--errors);
    border: solid 1px var(--errors);
}
.btn-color-sign-out:hover {
    background-color: var(--errors);
    color: var(--letter-white);
}

/* Calendar Modal */
/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: var(--background-dark);
    border-radius: 8px;
    color: var(--letter-white);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
}
.btn-submit-color {
    color: var(--primary);
    border: solid 1px var(--primary);
}
.btn-submit-color:hover {
    background-color: var(--primary);
    color: var(--letter-black);
    font-size: medium;
}

/* FAB btns */
.fab {
    border-radius: 100%;
    padding: 18px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    background-color: var(--socondary);
    border: none;
}
.fab:hover {
    padding: 20px;
    background-color: var(--socondary-dark);
    position: fixed;
    right: 22px;
    bottom: 22px;
}

.fab-danger {
    border-radius: 100%;
    width: auto;
    /* padding: 18px; */
    position: fixed;
    right: 32px;
    bottom: 90px;
    background-color: var(--errors);
    border: none;
}
.fab-danger:hover {
    /* font-size: 20px; */
    background-color: var(--errors-dark);
    position: fixed;
    width: 45px;
    height: 45px;
    position: fixed;
    right: 28px;
    bottom: 87px;
}