body {
    padding: 12px;
}

button {
    margin-right: 4px;
}
h1 {
    color: #0c9a9d;
}

.onColums {
    display: flex;
}

.btn-container {
    margin-left: 24px;
}

.names {
    margin-right: 16px;
}
img {
    border-radius: 12px;
}