body {
    padding: 12px;
    background: #222222;
}

button {
    margin-right: 4px;
}
h1,
h2,
h3,
h4 {
    color: #6AD2D3;
}

p {
    color: #F9F9F9;
}

.onColums {
    display: flex;
}

.btn-container {
    margin-left: 24px;
}

.names {
    margin-right: 16px;
}
img {
    border-radius: 12px;
}