body {
    padding: 12px;
    background: #222222;
    color: #F9F9F9;
}

button {
    margin-right: 4px;
}
h1,
h2,
h3,
h4 {
    color: #6AD2D3;
}

p {
    color: #F9F9F9;
}

.onColums {
    display: flex;
}

.btn-container {
    margin-left: 24px;
}

.names {
    margin-right: 16px;
}
img {
    border-radius: 12px;
}
.btn-toggle-modi {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    align-self: center;
    
    border: none;
    background: #cacaca;
}
.btn-toggle-modi:hover {
    background: #8c8c8c;
    border-color: #222222;
    box-shadow: 2px 2px 2px #383838;

}